$columns: 12 !default;
$row-size: 100%;

@for $i from 1 through $columns {
    .col-#{$i} {
        width: percentage($i / $columns);
        float: left;
    }
}

%clearfix {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.row {
    width: 100%;
    @extend %clearfix;
}

