.nav-toggle {
    .btn-nav_open {
        display: block;
        width: 270px;
        margin: 15px auto;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: $blue;
        text-align: center;
        color: $white;
        font-weight: bold;
        &:hover,
        &:focus {
            background: lighten($blue, 5);
            cursor: pointer;
        }
        &:active {
            background: darken($blue, 5);
        }
    }
}

.btn-nav_close {
    display: inline-block;
    float: right;
    margin: 0 10px 0 0;
    padding: 6px 9px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: $red;
    text-align: center;
    color: $white;
    font-weight: bold;
    &:hover,
    &:focus {
        background: lighten($red, 5);
        cursor: pointer;
    }
    &:active {
        background: darken($red, 5);
    }
}

.nav-container {
    .nav-overlay {
        //nav background
        display: none;
        background: rgba(0, 0, 0, .6);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $zindex-modal;
    }
    nav {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background: $white;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        ul {
            list-style-type: none;
        }
    }
}

.nav-input {
    position: absolute;
    opacity: 0;
    &:checked{
        // Displays the nav
        ~ .nav-overlay {
            display: block;
        }
        ~ nav{
            right: 0;
            z-index: 5000;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }
    }
}