@import 'variables';
@import 'mixins';
@import 'placeholder';
@import 'grid';
@import 'dropdownCheckbox';

/////////////////////
// Box Sizing
/////////////////////
* {
    box-sizing: border-box;
}

/////////////////////
// Font
/////////////////////
@import url(//fonts.googleapis.com/css?family=Roboto:700,400,500,300);

div, h1, h2, h3, p, span, ul, li, a {
    font-family: $font-family-roboto;
}

body{
    margin: 0;
    padding: 0;
}

.blue {
    background: $blue;
}

.red {
    background: $red;
}

.green {
    background: $green;
}

[class^='col'] {
    padding: 20px;
    margin: 10px 0 0;
    border: 1px solid $black;
    border-radius: 4px;
    min-height: 1px;
}

.container {
    max-width: $screen-lg;
    margin: 0 auto;
}

header{
    padding: 30px;
    text-align: center;
    background: $black;
    color: $white;
}

footer{
    text-align: center;
    padding: 40px;
    background: $black;
    color: $white;
}
