// TOOLS
@import 'tools/variables';
@import 'tools/mixins';
@import 'tools/placeholder';
@import 'tools/grid';

// MODULES
@import 'modules/collapse-checkbox';
@import 'modules/modal-checkbox';
@import 'modules/tabs-checkbox';
@import 'modules/nav-checkbox';
@import 'modules/input';

/////////////////////
// Box Sizing
/////////////////////
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div, h1, h2, h3, p, span, ul, li, a, label, input {
    font-family: $font-family-roboto;
}

////////////////////
// Links
////////////////////
a {
    text-decoration: none;
}

////////////////////
// Styles
////////////////////
body {
    margin: 0;
    padding: 0;
}

.blue {
    background: $blue;
}

.green {
    background: $green-gradient;
}

.green {
    background: $green;
}

[class^='col-'],
.column {
    padding: 20px;
    margin: 10px 0 0;
    border: 1px solid $black;
    border-radius: 4px;
}

header {
    padding: 30px;
    text-align: center;
    background: $black;
    color: $white;
}

footer {
    text-align: center;
    padding: 40px;
    background: $black;
    color: $white;
}

//.input_field {
//    &:focus {
//        ~ .clear-input {
//            display: inline-block;
//        }
//    }
//}

.clear-input {
    padding: 10px;
    position: relative;
    float: right;
    display: none;
    //display: inline-block;
    background: $gray;
    &.show-inlineBlock{
        display: inline-block;
    }
}
