// TOOLS
@import 'tools/variables';
@import 'tools/mixins';
@import 'tools/placeholders';
@import 'tools/grid';

// MODULES
@import 'collapse/collapse';
@import 'modal/modal';
@import 'tabs/tabs';
@import 'nav/nav';
@import 'input/input';

///////////////
// BOX SIZING
///////////////
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div, h1, h2, h3, p, span, ul, li, a, label, input {
    font-family: $font-family-roboto;
}

//////////
// LINKS
//////////
a {
    text-decoration: none;
}

///////////
// STYLES
///////////
body {
    margin: 0;
    padding: 0;
    &.modal-open{
        overflow: hidden;
    }
}

.blue {
    background: $blue;
}

.green {
    background: $green;
}

[class^='col-'],
.column {
    padding: 15px;
    margin: 10px 0 0;
    border: 1px solid $black;
    border-radius: 4px;
}

.tab-container {
    display: inline-block;
    vertical-align: top;
    min-height: 200px;
}

.input_container{
    margin: 30px auto;
}

///////////
// HEADER
///////////
header {
    margin: 0 0 30px;
    padding: 30px;
    text-align: center;
    background: $blue-light;
    color: $white;
}

///////////
// FOOTER
///////////
footer {
    text-align: center;
    padding: 40px;
    background: $black;
    color: $white;
}
