//This file makes use of a checkbox as a collapse trigger,
//which doesn't require JavaScript

//collapse button element
.collapse-btn {
    @include animate;
    display: block;
    min-height: 70px;
    margin: 0 auto;
    padding: 10px 15px;
    overflow: hidden;
    cursor: pointer;
    background: $white;
    border-radius: 4px;
    &:hover{
        background: lighten($blue, 40);
    }
    > p {
        position: relative;
        margin: 0;
        color: $blue;
        font-size: 32px;
        border-bottom: 1px solid $blue-light;
        &:after {
            @include animate;
            content: '';
            position: absolute;
            right: 0;
            top: 20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 8px 0 8px;
            border-color: $blue transparent transparent transparent;
        }
    }
}

.collapse-input {
    display: none;
    //checkbox in checked state
    &:checked {
        ~ .collapse-btn {
            p {
                &:after {
                    -webkit-transform: rotate(540deg);
                    -moz-transform: rotate(540deg);
                    -ms-transform: rotate(540deg);
                    -o-transform: rotate(540deg);
                    transform: rotate(540deg);
                }
            }
        }
        ~ .collapse-content {
            position: relative;
            visibility: visible;
            max-height: 100%;
            opacity: 1;
            .row{
                height: 100%;
                div{
                    height: 100%;
                }
            }
        }
    }
}

.collapse-content {
    @include animate;
    position: absolute;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    margin: 20px 15px 0;
    .modal-header{
        color: $white;
    }
    .row{
        @include animate;
        height:0;
        div{
            @include animate;
            height: 0;
        }
    }
}